/* Estilo de la etiquet semantica body */
body{
    background-color: rgb(130, 189, 238);
}
/* Estilo de la etiquet semantica header */
header{ 
    background-image: url('../images/cabeceras.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    color: red;
    display: flex;
    border-radius: 30%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height:10%;
    width:100%;
}
/* Estilo de la etiqueta semantica h1 y h2 */
h1, h2{
    background: orange;
    border-radius: 10em;
    text-align: center;
}
/* Estilo de la etiqueta semantica p */
p{
    text-align: justify;
    font-size: medium;
    margin: 15px;
}
/* Estilos del contenedor section. Se utiliza un id porque solo se va aplicar a este elemento */
#principal {
	display: flex;
	flex-direction: row;
    margin: 10px;
}
/* Estilos para que el texto rodee a la imagen. Propiedad float */
.imagen-float {
	width: 300px;
    height: 300px;
	float: right;
    border-style:solid;
    margin: 10px;
}
/* Estilo de la etiqueta semantica article */
article{
    height: min-content;
    width: 50%;
    background-color: beige;
    margin: 10px;
    border-radius: 10px;
}
/* Estilo de la etiquet semantica footer */
footer{
    background-color: aqua;
    height: 12em;
    width: auto;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}
/* Estilo para el boton de inicio */
button{
    float: right;
    height: 4em;
    width: 13em;
}